apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: dc-metro-map-ytei
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/happy-path-with-depl-tenant/appstudio/dc-metro-map-ytei@sha256:a5774b3d1f093921069a07da268c3f3a798e700b3603107e915efa01dd994e05
        name: my-nodejs
        resources: {}
status: {}
